*,::after,::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
body {
    overflow-x: hidden;
    background: #000000;
}
/* Navigation ---------------------------------------------------------------*/

nav {
    position: fixed;
    height: 70px;
    width: 100%;
    background: #000000;
    z-index: 100;
}
.logo-menu {
    position: fixed;
    top: 10px;
    right: 15px;
    width: 50px;
    z-index: 250;
    display: none;
}

.liste-nav {
    background: #000000;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: fixed;
    z-index: 200;
}
.item-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Major Mono Display;
}
.item-nav a {
    font-size: 25px;
    color: #7175F5;
    text-decoration: none;
    margin: 0 20px;
}

.item-nav a::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 0%;
    height: 2px;
    background: #7175F5;
    transition: all 0.2s ease-in-out;
}
.item-nav a:hover::after {
    width: 100%;
}

@media screen and (max-width: 890px) {

    .logo-menu {
        display: block;
    }
    .liste-nav {
        display: none;
        flex-direction: column;
        height: auto;
    }
    .liste-nav.active {
        display: block;
    }
    .item-nav {
        height: 70px;
    }
    .item-nav:nth-child(1){
        margin-top: 70px;
    }

}
/* acceuil ------------------------------------------------------*/

.acceuil {
    height: 110vh;
    width: 100%;
    background: url(../public/images/planet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.spaceship {
    position: absolute;
    content: "";
    width: 400px;
    margin: -10px -235px;
    display: block;
    animation: orbite 30s infinite linear;
}

@keyframes orbite {
    100% {
        margin-left: 100%;
    }
}
.titre_accueil {
    position: relative;
    top: 390px;
    color: #f1f1f1;
    font-family: Major Mono Display;
    text-align: center;
    letter-spacing: 1px;
    font-size: 28px;
}
.para_accueil {
    position: relative;
    text-align: center;
    top: 410px;
    color: #f1f1f1;
    font-family: Major Mono Display;
    font-size: 28px;
}
.floating-btn1 {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 #fff;
    animation: pulse 1.3s infinite;
}
  
@keyframes pulse {
    to {
      box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.01);
    }
}
.floating-btn1 img {
    width: 30px;
    height: 30px;
}  
@keyframes pulse {
    to {
      box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.01);
    }
}
.floating-btn4 img {
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 800px){
    .spaceship {
        animation: orbite 10s infinite linear;
    }
}
/* section description --------------------------------------------------------*/

.description {
    height: 140vh;
    width: 100%;
    background: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.cosmonaute {
    content: "";
    position: relative;
    bottom: 50px;
    width: 300px;
    rotate: 0deg;
    animation: apesanteur 1000s infinite linear;
}
@keyframes apesanteur {
    100% {
        rotate: 10000deg;
    }
}
.presentation {
    grid-area: 2 / 2 / 3 / 5;
    color: #7175F5;
    font-size: 24px;
    font-family: Major Mono Display;
    text-align: justify;
}
.texte_presentation {
    text-align: center;
}
.floating-btn2 {
    grid-area: 3 / 3 / 4 / 4;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
    cursor: pointer;
    box-shadow: 0 0 0 0 #fff;
    animation: pulse 1.3s infinite;
    position: relative;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
}
  
@keyframes pulse {
    to {
      box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.01);
    }
}
.floating-btn2 img {
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 600px) {
    .texte_presentation {
        font-size: 15px;
    }
    .presentation {
        font-size: 15px;
    }
}

/* cv en ligne ---------------------------------------------------------------------------------------------*/
.cv_ligne {
    height: 10vh;
    width: 100%;
    background: #000000;
}
.floating-btn4 {
    width: 160px;
    height: 80px;
    border-radius: 9999px;
    border: 2px solid #f1f1f1;
    cursor: pointer;
    box-shadow: 0 0 0 0 #fff;
    animation: pulse 1.3s infinite;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    font-family: Major Mono Display;
    font-size: 15px;
}
.floating-btn4 a {
    text-decoration: none;
    color: #000000;
}
/* section projets ----------------------------------------------------------*/

.galerie {
    max-width: 1300px;
    margin: 30px auto 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50vh;
  }
  
  .item {
    width: 90px;
    height: 90px;
    margin: 5px;
  }
  .item img {
    width: 100%;
    height: auto;
  }
  .item i {
    width: 100%;
    height: auto;
  }
.fa-html5, .fa-css3-alt, .fa-js-square, .fa-node-js, .fa-react {
    font-size: 100px;
}
.fa-html5 {
    color: #FF220C;
}
.fa-css3-alt {
    color: #648de5;
}
.fa-js-square {
    color: #FFBD00;
}
.fa-node-js {
    color: #06D6A0;
}
.fa-react {
    color: #00F6ED;
}
.floating-btn3 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
    cursor: pointer;
    box-shadow: 0 0 0 0 #fff;
    animation: pulse 1.3s infinite;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
} 
@keyframes pulse {
    to {
      box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.01);
    }
}
.floating-btn3 img {
    width: 30px;
    height: 30px;
}
/* section contact */

.section-contact {
    padding-bottom: 100px;
    background: #000000;
}
.section-contact h2 {
    text-align: center;
    color: #7175F5;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
    padding: 70px 0 0 0;
    font-family: Major Mono Display;
}
.container-form {
    margin: 0 auto;
    width: 70%;
}
.form-groupe {
    position: relative;
    margin-bottom: 45px;
}
.form-groupe label {
    color: #7175F5;
    font-size: 20px;
    font-family: Major Mono Display;
}
.form-groupe input {
    display: block;
    width: 100%;
    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid #7175F5;
    color: #7175F5;
    font-size: 20px;
    font-family: Major Mono Display;
}

textarea {
    width: 100%;
    height: 200px;
    border: none;
    border: 3px solid #7175F5;
    border-radius: 3px;
    padding: 5px;
    resize: none;
    outline: none;
    font-size: 20px;
    background: none;
    color: #7175F5;
    font-family: Major Mono Display;
}

.form-groupe:nth-child(4) {
    margin-bottom: 25px;
}

.form-groupe .button-sub {
    display: block;
    width: auto;
    padding: 15px 60px;
    border: 3px solid #7175F5;
    border-radius: 9999px;
    background-image: linear-gradient(to right, transparent 50%, #7175f5be 50%, #7175f5be);
    background-size: 200%;
    color: #7175F5;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.form-groupe .button-sub:hover {
    color: #fff;
    background-position: 100%;
    border: 3px solid #fff;
}

@media screen and (max-width: 1300px) {
    .section-contact h2 {
        padding: 70px 0 0 0;
    }
    .container-form {
        padding-left: 0;
    }
}
/* footer */
footer {
    background: #000000;
    height: 10vh;
    width: 100%;
}
.para_footer {
    font-family: Major Mono Display;
    font-size: 20px;
    text-align: center;
    color: #7175F5;
}
